<blockquote>
    <div class="b-icon">
        <i class="mdi-communication-phone red-text accent-2"></i>
    </div>
    <div class="b-text">
        <span>+65 - 98902187</span>
    </div>
</blockquote>
<blockquote>
    <div class="b-icon">
        <i class="mdi-communication-email red-text accent-2"></i>
    </div>
    <div class="b-text">
        <span>ravi.chandak901@gmail.com</span></br>
        <span>r.c@u.nus.edu</span>
    </div>
</blockquote>
<blockquote>
    <div class="b-icon">
        <i class="mdi-action-home red-text accent-2"></i>
    </div>
    <div class="b-text">
        <div>Singapore</div>
    </div>
</blockquote>