<div class="io-section-heading">
    <img width="100px" height="60px" src="app/images/tacto.png" class="responsive-img no-flex">
    <h3> PowKilo </h3>
    <span class="sub grey-text darken-1">Founder and Developer</span>
    <span class="date grey-text darken-1">May 2015 </span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> A START-UP aims to revolutionize the e-commerce industry. Recently secured a $10,000 seed fund from NUS Enterprise.
        </li>
    </ul>
</div>