<div class="io-section-heading">
    <img width="100px" height="60px" src="app/images/tacto.png" class="responsive-img no-flex">
    <h3> Tacto </h3>
    <span class="sub grey-text darken-1">Intern Developer</span></br>
    <span class="date grey-text darken-1">May 2015 - July 2015</span></br>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Working with the team on the frontend and backend using Angular JS and PHP on a Wardrobe virtualization application.
        </li>
    </ul>
</div>